* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
  /* background-color: white; */
}

.container {
  /* padding-top: 80px; */
  /* height: 100vh; */
  margin: auto;
  width: 1000px;
  max-width: 90vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.content {
  height: 300px;
  width: 600px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.content>h1 {
  color: bisque;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

#shop-form {
  padding: 1vw;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-group {
  display: flex;

}

label {
  width: 12rem;
  color: orange;
  font-size: 1.5rem;
}

.standard-input {
  color: wheat;
  width: 150px;
  padding-left: 10px;
  border: 0;
  background-color: inherit;
  border-bottom: 1px rgba(194, 20, 20, 0.699) solid;
  border-top: 1px rgba(143, 144, 153, 0.836) solid;
  border-radius: 8px;
}

.btn-primary {
  cursor: pointer;
  margin: auto;
  background-color: rgba(144, 188, 224, 0.808);
  border: 0;
  width: 6rem;
  height: 1.8rem;
  border-radius: 15px;
}

.btn-primary:hover {
  background-color: rgba(111, 166, 211, 0.808);
}

.shopping-list,
#product-list {
  /* padding-top: 40px; */
  border-collapse: collapse;
  display: grid;
  align-items: center;
  justify-content: center;
}

th,
td {
  width: 100px;
  text-align: center;
  line-height: 2rem;
  color: rgba(65, 145, 214, 0.815);
}

td {
  border: none;
  border-top: 1px rgb(68, 71, 57) solid;
}

.no-border {
  border: none;
}

.delete-button {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(155, 16, 16);
  padding: 3px;
  background: transparent;
}

.delete-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(255, 179, 15, 0.856), rgb(25, 122, 160), rgba(15, 139, 255, 0.856));
  border-radius: 6px;
  z-index: -1;
}